---
# tasks file for install_apache_with_default_website
- block: ### INSTALLING APACHE FOR DEBIAN OS FAMILY ###
  - name: Install Apache Web Server
    apt: name=apache2 state=latest

  - name: Start and add autoload Apache server for Debian
    service: name=apache2 state=started enabled=yes

  when: ansible_os_family == "Debian"

- block: ### INSTALLING APACHE FOR REDHAT OS FAMILY ###
  - name: Install Apache Web Server
    yum: name=httpd state=latest


  - name: Start and add autoload Apache server for RedHat
    service: name=httpd state=started enabled=yes

  when: ansible_os_family == "RedHat"

- name: Add user jenkins
  user:
    name: jenkins
    comment: jenkins
    uid: 1040

- name: Chown html folder 
  file:
    path: /var/www/html
    owner: ubuntu
    group: root

#- name: Generate index.html
#  template: src=index.j2 dest={{ dest_folder }}/index.html mode=0555
#  notify:
#     - Restart Apache Debian
#     - Restart Apache RedHat

#- name: Copy file for webserver
#  copy: src={{ item }} dest={{ dest_folder }}/{{ item }} mode=0555
#  loop:
#    - "img/"
#    - "fonts/"
#    - "css/"
#  notify:
#    - Restart Apache Debian
#    - Restart Apache RedHat
